@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom-primary: #383838;
  --custom-secondary: #ffffff;
  --custom-background: #fafafa;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.v-application {
  background-color: var(--custom-background);
}

// toast start
.toast-enter-active,
.toast-leave-active {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.toast-enter-from {
  opacity: 0;
  transform: translateX(200%);
}

.toast-leave-to {
  opacity: 0;
  transform: translateX(100%);
}

.toast {
  position: absolute;
  right: 1rem;
  margin-left: 1rem;
  top: 2rem;
  z-index: 9999;
}

// toast end


.bg-primary {
  background-color: var(--custom-primary);
}

.bg-primary-important {
  background-color: var(--custom-primary) !important;
}

.bg-secondary {
  background-color: var(--custom-secondary);
}

.bg-secondary-message {
  background-color: var(--custom-secondary);
}

.bg-secondary-actions {
  background-color: var(--custom-secondary);
}

.bg-background {
  background-color: var(--custom-background);
}

.bg-background-important {
  background-color: var(--custom-background) !important;
}

.bg-default {
  background-color: #bdbdbd;
}

.hover\:bg-primary:hover {
  background-color: var(--custom-primary);
}

.v-tab__slider {
  background-color: var(--custom-primary) !important;
}